@import url("../fonts/fonts.css");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  color: rgba(0, 0, 0, 0.84);
  font-family: "Merriweather", serif;
  font-size: 1.1rem;
  background-color: #fafafa;
}

main {
  margin: 0 auto;
  width: 55%;
}

main * {
  /* space all elements based on font-size */
  margin-bottom: 0.3em;
}

section {
  border-left: 0.2em solid firebrick;
  padding-left: 1em;
  margin-bottom: 2em;
}

h1,
h2,
b {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5em;
}

b {
  /* used for inline headers */
  display: inline-block;
  font-size: 1em;
  margin-right: 0.5em;
}

p {
  line-height: 1.6;
}

a {
  color: currentColor;
}

table {
  border-spacing: 0.3em;
}

input,
textarea {
  border: 0.05em solid currentColor;
  padding: 0.2em;
}

button,
input[type="submit"],
input[type="button"] {
  background-color: transparent;
  text-decoration: underline;
}

/* form elements dont inherit font by default */
input,
select,
textarea,
button {
  font: inherit;
}

/* header */

#header-container {
  padding: 1em 0;
  border-bottom: 0.2em solid firebrick;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  background-color: white;
}

header {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* remove link coloring */
header a {
  color: currentColor;
  text-decoration: none;
}

header a:hover {
  color: firebrick;
  transition: color 0.25s ease;
}

header > nav > ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

header > nav > ul > li {
  margin-left: 2.5em;
}
