@import url("../fonts/fonts.css");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  color: #121212;
  font-family: "Merriweather", serif;
}

main {
  margin: 0 auto;
  width: 50%;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0;
}

/* form elements dont inherit font by default */
input,
select,
textarea,
button {
  font: inherit;
}

/* header */

#header-container {
  padding: 1.5rem 0;
  border-bottom: 0.1rem solid currentColor;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
}

header {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* remove link coloring */
header a {
  color: currentColor;
  text-decoration: none;
}

header a:hover {
  color: cornflowerblue;
  transition: color 0.25s ease;
}

header > nav > ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

header > nav > ul > li {
  margin-left: 3rem;
}
