{% extends "main.twig" %} {% block content %}
<h1>Your Account</h1>
<p><b>Email</b>{{ account.email }}</p>
{% if account.admin %}
<p><b>Admin ✔️</b></p>
{% endif %}
<p><a href="/logout">Logout</a></p>
{% endblock %}
