{% extends "main.twig" %} {% block content %}
<h1>Your Account</h1>
<section class="ruled">
  <p><b>Email</b>{{ account.email }}</p>
  {% if account.admin %}
  <p><b>Admin</b>(<a href="/manage">Manage</a>)</p>
  {% endif %}
  <p><a href="/logout">Logout</a></p>
</section>
{% endblock %}
