{% extends "main.twig" %} {% block content %}
<h1>Our Films</h1>
{% for film in films %}
<section class="ruled">
  <h2>{{ film.title }}</h2>
  <p>{{ film.description }}</p>
  <p>
    <a href="/book/{{ film.id }}">Book</a> or
    <a href="/films/{{ film.id }}">see more</a>
  </p>
</section>
{% endfor %} {% endblock %}
