{% extends "manage/main.twig" %} {% block head %}
<script src="/scripts/manage/genre.js"></script>
{% endblock %} {% block content %}
<h1>Table: Genre</h1>
<section>
  <form>
    <table>
      {# headers #}
      <thead>
        <tr>
          <th>ID</th>
          <th>
            Name
          </th>
        </tr>
      </thead>
      <tbody>
        {# genre data #} {% for genre in genres %}
        <tr>
          <td>{{ genre.id }}</td>
          <td><input name="{{ genre.id }}" value="{{ genre.name }}" /></td>
        </tr>
        {% endfor %} {# buttons #}
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Update" />
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</section>

<section>
  <form method="POST" , action="/manage/genre/new">
    <input name="genre" required />
    <input type="submit" value="New" for="genre" />
  </form>
</section>

<section>
  <p>{{ msg }}</p>
</section>
{% endblock %}
