{% extends "manage/main.twig" %} {% block head %}
<script src="/scripts/manage/genre.js"></script>
{% endblock %} {% block content %}
<h1>Genre</h1>
<section>
  <form>
    <table>
      {# headers #}
      <tr>
        <td>ID</td>
        <td>
          Name
        </td>
      </tr>
      {# genre data #} {% for genre in genres %}
      <tr>
        <td>{{ genre.id }}</td>
        <td><input name="{{ genre.id }}" value="{{ genre.name }}" /></td>
        <td>
          <input
            class="btnDelete"
            type="button"
            value="Delete"
            for="{{ genre.id }}"
          />
        </td>
      </tr>
      {% endfor %} {# buttons #}
    </table>

    <input class="btnUpdate" type="submit" value="Update" />
  </form>
</section>

<section>
  <form>
    <input name="newGenre" required />
    <input type="submit" value="New" for="name" />
  </form>
</section>
{% endblock %}
